@media screen and (min-width: 900px) {
  body {
    background-color: orange;
  }
}
.block {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*========Utilits=============  */
.title-two {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.block__link {
  text-decoration: none;
}

.container {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-clients, .employee-network, .employee-list__item, .container, .block__list {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block__pharagrap, .block__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.main-clients__list, .employee-network, .nav, .header {
  display: flex;
  align-items: center;
}

.logo__span {
  color: #2196f3;
}

.logo {
  color: #212121;
}
.logo:focus, .logo:hover {
  color: #2196f3;
}

/* Button */
@media screen and (min-width: 480px) {
  .container {
    width: mobile;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.block {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2);
}
.block__list {
  display: flexbox;
}

.block__list {
  outline: 1px solid red;
}

.block__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.block__link:hover, .block__linkfocus {
  color: #2196f3;
}

.nav {
  margin-left: 93px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.autorizator {
  margin-left: auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.flex-revers {
  display: flex;
  flex-direction: row-reverse;
}

.mailto-item {
  width: 32px;
  height: 16px;
  fill: currentColor;
}

.mailto-tel {
  width: 20px;
  height: 16px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-fon {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 479px) {
  .hero-fon {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 480px) {
  .hero-fon {
    width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero-fon {
    width: 768px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-fon {
    width: 1600px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 479px) {
  .hero-block__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .hero-block__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero-block__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-block__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .hero-block-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #2196f3;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.62;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 24px;
  }
  .hero-block-button:focus, .hero-block-button:hover {
    background-color: #c4c4c4;
  }
}
@media screen and (min-width: 480px) {
  .hero-block-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #2196f3;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.62;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 24px;
  }
  .hero-block-button:focus, .hero-block-button:hover {
    background-color: #c4c4c4;
  }
}
@media screen and (min-width: 768px) {
  .hero-block-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #2196f3;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.62;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 24px;
  }
  .hero-block-button:focus, .hero-block-button:hover {
    background-color: #c4c4c4;
  }
}
@media screen and (min-width: 1200px) {
  .hero-block-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #2196f3;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.62;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 32px;
  }
  .hero-block-button:focus, .hero-block-button:hover {
    background-color: #c4c4c4;
  }
}

.hero-block-button:focus,
.hero-block-button:hover {
  background-color: #c4c4c4;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 468px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.skills__ul {
  list-style: none;
  padding: 0%;
}
@media screen and (min-width: 768px) {
  .skills__ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.title-three {
  margin-top: 30px;
  margin-bottom: 10px;
}

.skills-position {
  background-color: #afb1b8;
}

.skills__item {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .skills-element {
    width: 354px;
  }
  .skills-element:nth-child(2n-1) {
    margin-right: 30px;
    background-color: orange;
  }
  .skills-element:nth-last-child(-n+2) {
    margin-top: 30px;
    background-color: blue;
  }
}
@media screen and (min-width: 1200px) {
  .skills-element {
    width: 270px;
  }
  .skills-element:not(:last-child) {
    margin-right: 30px;
    margin-top: 0;
  }
  .skills-element:last-child {
    margin-top: 0;
  }
}

.skills-position {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .skills-position {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .skills-position {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .skills-position {
    width: 100%;
    height: 120px;
  }
}

@media screen and (min-width: 480px) {
  .employee-list__item .img-view {
    width: 450px;
    height: 460px;
  }
}

.employee-network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 44px;
  height: 44px;
}

.employee-list {
  padding-left: 0;
  display: grid;
}
@media screen and (min-width: 480px) {
  .employee-list {
    grid-template-columns: 100%;
  }
  .employee-list__item .img-view {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .employee-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .employee-list__item .img-view {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .employee-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .employee-list__item .img-view {
    width: 270px;
    height: 260px;
  }
}

.client-svg {
  fill: #afb1b8;
  background-position: center;
}

.main-clients__item {
  justify-content: center;
  align-items: center;
}

.main-clients {
  display: grid;
}
@media screen and (min-width: 480px) {
  .main-clients {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-clients__list {
    border: 1px solid red;
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .main-clients {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .main-clients {
    grid-template-columns: repeat(6, 1fr);
  }
}/*# sourceMappingURL=main.css.map */