:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --ptimary-heroy-color: #c4c4c4;
  --background-button: #f5f4fa;
  --primary-footer-color: #2f303a;
  --primary-icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Web Studio */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.link {
  text-decoration: none;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex {
  display: flex;
  align-items: center;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  text-align: center;
  margin: 0;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
}

.index-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .index-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .index-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .index-container {
    width: 1200px;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-icon {
  width: 44px;
  height: 44px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover, .social-item:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

.logo-span {
  color: var(--accent-text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
}

.nav-logo {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-logo:focus, .nav-logo:hover {
  color: var(--accent-text-color);
}

.nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav:focus, .nav:hover {
  color: var(--accent-text-color);
}
.nav.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  bottom: 0;
  border-radius: 2px;
}

.current {
  color: var(--accent-text-color);
  position: relative;
}

/* .list a:hover,
.list a:focus {
  color: var(--accent-text-color);
} */
.ul-nav {
  margin-left: 90px;
  align-items: baseline;
}
.ul-nav li + li {
  margin-left: 50px;
}
.ul-nav .mailto {
  width: 34px;
  height: 34px;
}

.link-nav-mail:hover,
.link-nav-mail:focus {
  color: var(--accent-text-color);
}

.link-nav-tel:hover,
.link-nav-tel:focus {
  color: var(--accent-text-color);
}

.link-nav-tel,
.link-nav-mail {
  flex-direction: row-reverse;
}

.nav-aut {
  margin-left: auto;
}
.nav-aut li + li {
  margin-left: 50px;
}
.nav-aut a {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  background-color: rgba(245, 244, 250, 0.0784313725);
}

.mailto-fone,
.mailto-post {
  align-items: center;
  display: inline-flex;
}

.mailto-item {
  width: 32px;
  height: 16px;
  fill: currentColor;
}

.mailto-tel {
  width: 20px;
  height: 16px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .page-header {
    position: relative;
    max-width: 479px;
  }
}
@media screen and (min-width: 480px) {
  .page-header {
    position: relative;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
  .menu-container.is-open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}
.mobile-menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu .icon-cross {
  display: none;
}
.mobile-menu.is-open .icon-cross {
  display: block;
}
.mobile-menu.is-open .icon-burger {
  display: none;
}

.munu-container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
}
.title {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.main-title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* Button */
.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.62;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover {
  /* color: var(--title-text-color); */
  background-color: #c4c4c4;
}

.button-seconary {
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--background-button);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-seconary:focus, .button-seconary:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo:hover, .footer-logo:focus {
  color: var(--accent-text-color);
}

.comin-title {
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 700;
}

.social-icon-footer {
  width: 21px;
  height: 21px;
  fill: var(--primary-white-color);
}

.footer-form {
  margin-left: auto;
}

.footer-form-item {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--primary-footer-color);
  padding: 16px 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-form-item:hover {
  border: 1px solid var(--accent-text-color);
}
.footer-form-item:-moz-placeholder-shown {
  background-color: var(--primary-footer-color);
  -moz-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-item:-ms-input-placeholder {
  background-color: var(--primary-footer-color);
  -ms-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-item:placeholder-shown {
  background-color: var(--primary-footer-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-item:not(:-moz-placeholder-shown) {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--title-text-color);
}
.footer-form-item:not(:-ms-input-placeholder) {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--title-text-color);
}
.footer-form-item:not(:placeholder-shown) {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--title-text-color);
}

.form-lable-item input[type=text]:hover {
  background-color: var(--primary-white-color);
}

.footer-form-link {
  display: inline-flex;
  width: 200px;
  height: 50px;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
}
.footer-form-link:hover, .footer-form-link:focus {
  transform: scale(1.02);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-link::after {
  content: "";
  display: flex;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url(../images/send.svg);
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.heroy-box {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--ptimary-heroy-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-foto.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    width: 1200px;
  }
}
@media screen and (min-width: 1600px) {
  .hero-container {
    width: 1600px;
  }
}

.our-work__item {
  position: relative;
}
.our-work__item:not(:last-child) {
  margin-right: 30px;
}

.our-work__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 23.8%;
  font-weight: 700;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.our-work__overlay-text {
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  text-align: 1.14;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.employee-item__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.employee-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-icon {
  width: 44px;
  height: 44px;
}

.employee-list {
  display: grid;
}
@media screen and (max-width: 480px) {
  .employee-list {
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .employee-list {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .employee-list {
    width: 738px;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
  .employee-list .employee-list__thumb {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .employee-list {
    width: 1170px;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .employee-list .employee-list__thumb {
    width: 270px;
    height: 260px;
  }
}

.employee-list .employee-list__img-view {
  width: 100%;
  height: 100%;
}

.employee-network,
.employee__social {
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.employee-network img:hover, .employee-network img:focus,
.employee__social img:hover,
.employee__social img:focus {
  background-color: var(--accent-text-color);
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.client-svg {
  fill: currentColor;
}

.main-clients__item:hover,
.main-clients__item:focus {
  border-color: var(--accent-text-color);
  color: var(--accent-text-color);
}

.main-clients {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
@media screen and (max-width: 479px) {
  .main-clients {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-clients .main-clients__list {
    max-width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 480px) {
  .main-clients {
    width: 450px;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-clients .main-clients__list {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .main-clients {
    width: 738px;
    grid-template-columns: repeat(3, 1fr);
  }
  .main-clients .main-clients__list {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .main-clients {
    width: 1170px;
    grid-template-columns: repeat(6, 1fr);
  }
  .main-clients .main-clients__list {
    width: 170px;
    height: 92px;
  }
}

.main-clients__list {
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.index-skills__frame {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-button);
  border-radius: 4px;
}

.index-skills__ul {
  display: grid;
}
@media screen and (min-width: 480px) {
  .index-skills__ul {
    width: 450px;
  }
  .index-skills__ul .index-skills__frame {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .index-skills__ul {
    width: 738px;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .index-skills__ul .index-skills__frame {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .index-skills__ul {
    width: 1170px;
    grid-template-columns: repeat(4, 1fr);
  }
  .index-skills__ul .index-skills__frame {
    width: 270px;
    height: 120px;
  }
  .index-skills__ul .index-skills__frame {
    width: 270px;
    height: 120px;
  }
}
.index-skills__ul__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .index-skills__ul__item {
    width: 100%/2;
  }
}
@media screen and (min-width: 1200px) {
  .index-skills__ul__item {
    width: 100%/4;
  }
}
.index-skills__ul__item__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-button);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .index-skills__ul__item__frame {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .index-skills__ul__item__frame {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .index-skills__ul__item__frame {
    width: 270px;
    height: 120px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-footer-color);
}

.footer-ul .footer-item + .footer-item {
  margin-top: 9px;
}

.footer-contact {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover, .footer-contact:focus {
  color: var(--accent-text-color);
}

.footer-map {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-white-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map:hover, .footer-map:focus {
  color: var(--accent-text-color);
}

.footer-ul {
  display: inline-block;
}

.footer-1 {
  margin-right: 70px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-network {
  margin-top: 20px;
}

.portfolio {
  display: block;
}
.portfolio:hover, .portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.pharagraf-portfolio {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.link-portfolio {
  text-decoration: none;
}

.portfolio-img {
  padding: 0;
  margin: 0;
}

/* .item-portfolio {
    display: inline-block;  

} */
.border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.item-project:not(:last-child) {
  margin-right: 8px;
}

.list-project {
  margin-bottom: 50px;
  justify-content: center;
}

.flex-project {
  display: flex;
  flex-wrap: wrap;
}

.flex-card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-card:nth-child(3n) {
  margin-right: 0;
}

.flex-card:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.exempl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover .exempl, .portfolio:focus .exempl {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  transform: scale(0.8) translate(-50%, -50%);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-bcg {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: contain;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-btn-bcg:hover, .modal-btn-bcg:focus {
  fill: var(--accent-text-color);
}

.modal-button {
  width: 11px;
  height: 11px;
}

textarea {
  resize: none;
}

.modal-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 448px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 18px;
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.form-lable:focus .modal-icon-svg,
.form-lable:hover .modal-icon-svg {
  fill: var(--accent-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-lable-item:hover + .form-lable-text,
.form-lable-item:focus + .form-lable-text {
  color: var(--accent-text-color);
}

.form-lable-item:not(:-moz-placeholder-shown) + .form-lable-text {
  transform: translate(-37px, -37px);
  color: currentColor;
}

.form-lable-item:not(:-ms-input-placeholder) + .form-lable-text {
  transform: translate(-37px, -37px);
  color: currentColor;
}

.form-lable-item:focus + .form-lable-text,
.form-lable-item:not(:placeholder-shown) + .form-lable-text {
  transform: translate(-37px, -37px);
  color: currentColor;
}

.form-lable:nth-child(-n+3) {
  margin-bottom: 28px;
}

.form-lable:nth-child(3) {
  margin-bottom: 10px;
}

.form-lable:nth-child(4) {
  margin-bottom: 20px;
}

.form-lable:nth-child(5) {
  margin-bottom: 30px;
}

.form-lable-text {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 9%;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  color: var(--primary-text-color);
}

.modal-for-position {
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-lable-item {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
}
.form-lable-item:hover {
  border: 1px solid var(--accent-text-color);
}

.form-lable-text-comment {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-lable-coment {
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-lable-coment:hover, .form-lable-coment:focus {
  border-radius: 4px;
  border-color: var(--accent-text-color);
}
.form-lable-coment::-moz-placeholder {
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-lable-coment:-ms-input-placeholder {
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-lable-coment::placeholder {
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-lable:hover .form-lable-text-comment,
.form-lable:focus .form-lable-text-comment {
  color: var(--accent-text-color);
}

.form-lable-item:not(:-moz-placeholder-shown) ~ .modal-icon-svg {
  fill: var(--accent-text-color);
}

.form-lable-item:not(:-ms-input-placeholder) ~ .modal-icon-svg {
  fill: var(--accent-text-color);
}

.form-lable-item:not(:placeholder-shown) ~ .modal-icon-svg {
  fill: var(--accent-text-color);
}

.for-lable-coment {
  display: flex;
  flex-direction: column-reverse;
}

.policy {
  position: relative;
  text-align: center;
}

.policy-svg {
  position: absolute;
  background-size: contain;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  pointer-events: none;
}

.policy-text {
  display: block;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.policy-link {
  position: relative;
  color: var(--accent-text-color);
}

.checkbox {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(25%);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid var(--title-text-color);
  width: 16px;
  height: 15px;
  background-origin: border-box;
  background-size: contain;
}

.checkbox:checked ~ .policy-svg {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(25%);
  width: 16px;
  height: 15px;
  background-color: var(--accent-text-color);
  border: 0.2px solid #ffffff;
}

.modal-form-btn {
  display: block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

.btn {
  display: block;
}

.btn-item-test {
  margin-bottom: 10px;
}

.btn-item-test:nth-child(-n+3) {
  margin-bottom: 15px;
}

btn-item-test {
  display: block;
  outline: 1px solid red;
  background-color: #2196f3;
}

.test-blok {
  outline: 1px solid red;
}

.test-blok.test-blok:nth-child(-1n+3) {
  margin-bottom: 40px;
}/*# sourceMappingURL=main.css.map */