/*========Utilits=============  */

/*============Navigation=========*/

/*======Autirizator======*/

/*====================== bg index=================*/

/*================== Skills index=================*/

/* ===================Our employee index============== */

/*=============== our work index===============*/

/* ============Main Clients============== */

/*==================footer===================*/

/*=====================Portfolio===================*/

/*secondary text #212121 */
/*main  text #757575 */
/* white #FFFFFF */
/* blue #2196F3*/
/* footer rgba(255, 255, 255, 0.6) */
/* background #F5F5F5 */
/* bacgraund grey #F5F4FA */
/* background akcent #2F303A */

/* Header portfolio*/

/* Section portfolio*/

/* .section-title-portfolio{
                padding: 0;
                margin: 0;
            } */

/*===============Our comand===========*/

/* ========PORTFOLIO========= */

/* ===============Projects=================== */

/* ===================Card====================== */

/* ==========index-test============ */

/* .test-section {
  display: flex;
  padding: 200px 0;
  outline: 2px solid teal;
  background-color: #212121;
}

.test-object {
  max-width: 1600px;
  height: 450px;
  outline: 1px solid tomato;
  background-color: #2196f3;
  background-position: center;
}

.test-object-2 {
  max-width: 1600px;
  height: 450px;
  outline: 1px solid tomato;
  background-color: #2196f3;
  background-position: center;
} */

/* ==============Modal Windov========== */
